:root {
    --content-with: 800px;
    --content-height: 600px;
    --animation: cubic-bezier(0, 0.28, 0.54, 1.14);
}

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    width: var(--content-with);
    height: var(--content-height);
    background-image: url("../img/background.jpg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 16px;
    position: relative;
}

.drag {
    position: absolute;
    pointer-events: all;
    width: 100%;
    height: 100%;
    z-index: 3;
    cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAoJJREFUSEvtlU9Ik3EYxz/P+7ppSqYkHrp0sCAINJJK6RKpc0swp0JQip1KgrQO0T8LD5WUdCiEKAqyPyAoaNqYOgKrQ1DYwUN1CCII6zAxg0y3vXtiuYXabIvwVL/r+/19P8/f3yss85Fl9uc/IGGFf1uifS5X5gzBPDDWqrJJRbJijgY6ZsFHm8Wb7ImJDzdGR4PxaIsB4t5Vst4Im40Ke4A1CUOcEwRRnqloR8iW5hkYGJiO3YsBxO0s3S4YV4DNSZouJZsSlZbVfv/1SFZyoLDQ5s/NOYPqKcCM3nqr0GOgT1VSxjIsa/Lu8PDXmKPL5Uq1BQJZdtPMC5sUEqYWoRiwxTQKneliNkm1s2w/yM2o+WNTzEPdXu9rQP8kk4qKiuzUcOgEqkd/glRPS7XT8QjYiXInczZw8PbIyMyfGC/WusvLd4toF5AG+iKSwXOQLQrtvYPDx5eKvKpqR1Zf38jnRPA4AMcF4CQwrSp7e4eG+uNBapzlHaq8y/H7r8YbyUiJ7KHAERFpBlZFA2kTt8ORKwadgBOwBB4qxvn8oqLR1tbWcCziGlfZNVVpBAZCljb2+3zjkW+1zrKSsMrZxU2O6FaIWfdjTCsrK1emBGdbFjQIxlEeIDqIpLxUtc4JNESBnwzRhh6vz+d2Og4LRMY7diI7cClzJnAx0s8FizY3CcE6lCZgXYJ6W0CbClOitIO+R+TyrGG75/F4Jhcv2i9e9Q5HxjcoUJMNYSRfVEuBjfOEXRqmGcuy0u324H2v90syT8WSQc/rwZSKHCvYVnxrfo+Wupj0/yAK2GqKWd/t9b5KNK4JSxRngZwhu/3J/IcsGUjSGSRj9lc9+HcB3wFyIvYfg6qJgAAAAABJRU5ErkJggg=="), auto;
}

.car-container {
    position: relative;
    height: 100%;
    pointer-events: none;
}

@media print {
    .car-container {
        background-color: white;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }
}

.car-container img {
    position: absolute;
    width: var(--content-with);
    transition: opacity 1s var(--animation);
}

.car-container .wheels {
    width: auto;
    transform: scale(.9);
}

.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.options .colors {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(2, 40px);
    gap: 0;
    grid-template-areas:
        ". . . . ."
        ". . . . .";
}

.options .colors div:hover {
    background-color: #ddd;
    cursor: pointer;
    padding: 3px;
    transition: all 0.2s linear;
}

.options .colors img {
    width: 100%;
    height: 100%;
}

.print:hover {
    background-color: #ffd43b;
}

.print {
    width: 80px;
    background-color: #f0f1f3;
    border: none;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s var(--animation);
    border-radius: 8px;
    margin: 0 0 0 auto;
}

.print img {
    width: 30px;
}

.loading .loader {
    display: flex;
}
.loader {
    display: none;
    opacity: 1;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 2;
    transition: opacity 1s ease;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ripple div {
    position: absolute;
    border: 4px solid #000;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}
